@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$team-blue: #9BD0BF;
$team-red: #CA5164;
$primary: #FE8D50;
$primary-shadow: #F68244;
$background: #F8F8F8;
$light-grey: #f3f3f3;
$grey: #808080;
$dark-grey: #C4C4C4;
$chat-label: #BDC4C1;

$out: #858585;
$alert: #BC0202;
$alert-shadow: #C92C32;
$accept: #50A385;
$accept-shadow: #3F9475;
$object: #BF150B;
$object-shadow: #AD1209;

$radius: 10px;
$long: 250px;
$short: 125px;

$button-font-size: 16px;
$main-font-size: 16px;

$main-font-weight: 400;
$label-font-weight: 300;
$bold-font-weight: 600;

$main-font: 'Roboto', sans-serif;
// $main-font: 'Source Sans Pro', sans-serif;

@mixin btn {
    padding: 12px 30px;
    border-radius: $radius;
    border-style: solid;
    background-color: none;
    font-size: $button-font-size;
    cursor: pointer;
}

@mixin main-btn($color) {
    @include btn;
    background-color: $color;
    border-color: $color;
    color: white;
    transition: 0.25s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

    &:hover{
        color: $color;
        border-color: $color;
        background-color: white;
    }

    &:focus{
        box-shadow: 0 0 5px $color,
    }
    
}

@mixin inverted-btn($color) {
    @include btn;
    color: $color;
    border-color: $color;
    background-color: white;
    transition: 0.25s;
    
    &:hover{
        background-color: $color;
        border-color: $color;
        color: white;
    }
    
    &:focus{
        box-shadow: 0 0 5px $color,
    }
}

@mixin solid-btn($color, $hover) {
    @include btn;
    background-color: $color;
    border-color: $color;
    color: white;
    transition: 0.25s;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

    &:hover{
        color: white;
        border-color: $hover;
        background-color: $hover;
    }

    &:focus{
        box-shadow: 0 0 5px $color,
    }
}

@mixin player-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #FFF;
    font-size: 24px;
    height: 50px;
    width: 50px;
    border: 4px solid rgba(0,0,0,0);
}