@import './base.scss';

.chat {
  display:flex;
  flex-direction: column;
  height: 92%;
  width:100%;

}
.chat-functions {
  padding: 0 1em;
}

.sidebar-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 100%;
  box-shadow: 0 5px 20px -20px rgba(0,0,0,0.5);
}


.messages {
  padding: 20px 1.5em;
  height: 90%;
  width: 100%;
  overflow-y: auto;
  
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    &_img {
      @include player-logo;
      margin-right: 10px;
    }
    &_img.invisible{
      opacity: 0;
      height: 0 !important;
    }

    &_info {
      align-items: center;
      background-color: $light-grey;
      border-radius: $radius;
      max-width: 75%;
      min-height: 2em;
      padding: 0.8rem 1.5rem;
      word-wrap: normal;

      &-sender{
        display: inline;
        font-size: $main-font-size;
        font-weight: $bold-font-weight;
      }
      &-content {
        display: inline;
        word-wrap: break-word;
      }
    }
  }

  .server-message {
    color: $dark-grey;
    text-align: center;
    margin-bottom: 0.75em;
  }
}

.chat-functions {
  display:flex;
  background-color: $light-grey;
  border-radius: 50px;
  padding: 12px 30px;
  width: 90%;
  margin: auto;

  &_input {
      width: 95%;
      outline: none;
      border: none;
      text-decoration: none;
      background: none;
      font-size: $main-font-size;
      &:focus{
        outline:none;
        box-shadow: none;
      }

  }
  &_submit {
    border: none;
    background: none;
    // credits to cssicon.space
    .send-symbol {
      color: #000;
      position: absolute;
      margin-left: -7.5px;
      width: 16px;
      height: 1px;
      background-color: $primary;
      &:before {
        content: '';
        position: absolute;
        right: 1px;
        top: -5px;
        width: 10px;
        height: 10px;
        border-top: solid 1px $primary;
        border-right: solid 1px $primary;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        }    
    }
    &:hover {
      .send-symbol:before {
        border-top: solid 1px $primary-dim;
        border-right: solid 1px $primary-dim;
      }
    }

  }
}

.chat-submit {
    @include inverted-btn($primary);

    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
    border-radius: 50px;
    transform: rotate(180deg);

}

.thing-at-bottom {
  clear: both;
}