@import "./base.scss";
// For Chat.js
.chat {
  height: 90%;
  width:100%;
  padding: 0 20px;
}

.message-container {
  padding: 10px 0;
  height: 80.5%;
  width: 100%;
  overflow-y: auto;
}

.message {
  display: flex;
  align-content: center;
  margin: 20px 10px 20px 0;
}

.sender {
  display: inline-block;
  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  font-weight: bold;
  // margin-right: 5px;
  text-align: center;
  width: 25%;
  padding: 0.8rem 0.75rem;
  word-wrap: break-word;
}

.content {
  background-color: #F3F3F3;
  border-radius: 20px;
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  word-wrap: break-word;
  max-width: 70%;
  min-height: 25px;
  border-radius: 25px;
  padding: 0.8rem 2rem;
}

.server-message {
  color: #808080;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-align: center;
}

.chat-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.chat-input {
    border-width: 1px;
    border-color: #BFBFBF;
    border-style: solid;
    border-radius: 50px;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    padding: 0.5em 0 0.5em 1em  ;
    // margin-right: 20px;
    text-decoration: none;
    width: 85%;
}

.chat-submit {
    @include inverted-btn($primary);

    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
    border-radius: 50px;
    transform: rotate(180deg);

}

.thing-at-bottom {
  clear: both;
}