@import './base.scss';

.hidden {
    opacity: 0;
}
.declare-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    .second-btn {
        @include inverted-btn($primary);
    }
}


.declare {
    &-container {
        display: flex;
        flex-direction: column;
    }
    &-section {
        margin: 0.5rem 0;

        .mini-cards,
        .playroom-options {
            padding: 0.5rem 0;
        }
    }   

    &-column {
        position: relative;
        width: 32%;
        height: 100%;
        label {
            font-weight: 600;
        }
    }
    &-input_players {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &-input_player{
        width: 100%;
        height: 80%;
        padding: 0.5rem 0.75rem;
        background-color: white;
        border-radius: $radius;
        box-shadow: 2px 2px 5px 1px rgba(black, 0.05);

    }

    &-name {
        font-size: 4rem;
        line-height: 5rem;
        padding: 1rem;
        font-weight: $bold-font-weight;
        text-align: center;
    }
    
    &-guesses {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;
        .declare-guess {
            font-size: $button-font-size;
            background-color: $light-grey;
            border-radius: 20px;
            display: inline;
            padding: 10px 20px;
            word-wrap: break-word;
    
            margin: 0.2em;
            &_wait {
                // color: $dark-grey !important;
                font-weight: $label-font-weight;
                text-align: center;
            }
        }
    }

    .declare-vote_instruction {
        padding: 20px 2vw;
        color: $dark-grey;
        text-align: center;
    
        .declare-vote_btns {
            display: flex;
            justify-content: space-evenly;
            padding: 20px 10px 10px 10px;

            .object-btn {
                @include solid-btn($object, $object-shadow);
            }
            .accept-btn {
                @include solid-btn($accept, $accept-shadow);
            }
            .warning {
                text-align: right;
            }
        }
    }
    
    .declare-votes-container {
        padding: 10px;
        .declare-votes {
            display:inline;
            color: $dark-grey;
            font-size: $label-font-weight;
            font-size: $button-font-size;
            text-align: left;
        }
    }
    
}

.show-cards-btn {
    position: fixed;
    top:0;
    right: 0;
    margin: 10px;
    z-index: 1000;
}