@import './base.scss';

.home {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    padding-left: 10em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../../public/illustration.svg');
    background-size: 950px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    text-align: center;

    &-logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
    }

    &-desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 35%;
        &_title,
        &_tagline {
            text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
            white-space: nowrap;
        }
        &_title {
            font-weight: 700;
            font-size: 60px;
            text-align: left;
        }
        &_tagline {
            font-weight: 500;
            font-size: $main-font-size;
            text-align: left;
            padding: 10px;
        }
        &_options {
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
    }
    &-illustration {
        width: 850px;
        padding-left: 1rem;
    }

    div > button {
        margin-bottom: 15px;
    }
    .room-key-field {
        width: $long;
        margin: 0 auto;
    }
}

// For NameForm.js
.name-label {
    font-size: $main-font-size;
    font-weight: $label-font-weight;
    margin-bottom: 5px;
}

.disabled-name {
    @include inverted-btn($out);
    cursor: not-allowed;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: $background;

}
.main-container,
.sidebar {
    height: 100%;
}
.sidebar {
    background-color: white;
    width: 375px;
}
.main-container {
    flex-grow: 1;
    width: 65%;
    // margin: auto;
}

// For WaitingRoom.js
.waiting-room {
    display: flex;
    flex-direction: column;
    padding: 3em;
    align-items: center;
    justify-content: center;

    &_top,
    &_players {
        width: 85%;
    }

    &_label {
        font-size: $main-font-size;
    }

    &_key {
        font-size: 100px;
        font-weight: $bold-font-weight;
        line-height: 100%;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    &_players {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 20px;
        margin-top: 1em;
        .player {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
            margin-bottom: 1em;

            &-name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                font-size: $main-font-size;
                padding: 0.25em 1em;
                width: 60%;
                min-height: 2.5rem;
                border-radius: 10px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03);
            }

            &-img {
                @include player-logo;
                height: 60px;
                width: 60px;
            }
            .YOU {
                border: 5px solid #F4B700;
            }
            .placeholder {
                background-color: $dark-grey;
            }
        }
    }
}

.disabled-btn {
    @include solid-btn($out, $out);
    cursor: not-allowed !important;
}

.hidden {
    display:none !important;
}
.playroom {
    .history {
        justify-content: center;
        margin: auto;
        .message {
            max-width: 100%;
        }
    }
}

.help {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.help-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-help {
    float: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.help-title {
    font-size: 28px;
    font-weight: bold;
}

.help-instructions {
    text-align: left;
}

.help-card {
    width: 100px;
}