@import './App.scss';
@import './base.scss';

.game-container{
    width: 100vw;
    height: 100vh;
    &.white {
        background-color: white;
    }
}

// For Home.js
.home {
    text-align: center;
    padding-top: 15vh;
    height:90vh;

    &-tagline {
        font-weight: 500;
        font-size: $main-font-size;
        padding: 10px;
    }
    &-options {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    div > button {
        margin-bottom: 15px;
    }
    .room-key-field {
        width: $long;
        margin: 0 auto;
    }
}

// For NameForm.js
.name-label {
    font-size: $main-font-size;
    font-weight: $label-font-weight;
    margin-bottom: 5px;
}

.disabled-name {
    @include inverted-btn($out);
    cursor: not-allowed;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;

}
.main-container,
.sidebar {
    background-color: white;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}
.sidebar {
    width: 28%;
}
.main-container {
    width: 65%;
}

// For WaitingRoom.js
.waiting-room {
    display: flex;
    flex-direction: column;
    padding: 3em;
    align-items: center;
    justify-content: center;

    &_top,
    &_players {
        width: 85%;
    }

    &_label {
        font-size: $main-font-size;
    }

    &_key {
        font-size: 100px;
        font-weight: $bold-font-weight;
        line-height: 100%;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    &_players {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 20px;
        // margin-left: -8%;
        margin-top: 1em;
        .player {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
            margin-bottom: 1em;

            &-name {
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-items: center;
                background-color: $light-grey;
                font-size: $main-font-size;
                padding: 0.25em 1em;
                width: 60%;
                min-height: 50%;
            }

            &-img {
                @include player-logo;
                height: 60px;
                width: 60px;
            }
            .YOU {
                border: 5px solid #F4B700;
            }
            .placeholder {
                background-color: $dark-grey;
            }
        }
    }
}

.disabled-start {
    @include solid-btn($out, $out);
    cursor: not-allowed !important;
}

.hidden {
    display:none !important;
}
.playroom {
    .history {
        justify-content: center;
        margin: auto;
        .message {
            max-width: 100%;
        }
    }
}