.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    width: 7rem;
    background-color: white;
    &-btns {
        position: absolute;
        top:50%;
        left:0;
        display: flex;
        flex-direction: column;
        transform: translateY(-50%);
    }       
    &-btn {
        border-radius: 0 $radius $radius 0 !important;
        margin: 0.25rem 0;
    }
}