@import './base.scss';

.playroom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.ask,
.respond,
.declare,
.vote {
    padding: 2rem 4rem;
    overflow-y: scroll;
    
    section {
        flex-grow: 1;
    }

    .playroom-section {
        label {
            background-color: rgba($grey, 0.75);
            padding: 0.25rem 0.5rem;
            border-radius: $radius;
        }
    }
}

.playroom-label {
    font-size: $header-font-size;
    font-weight: 700;
    margin-bottom: 1rem;
}
.ask {
    &-section {
        margin: 1rem 0;
        .mini-cards,
        .player-options {
            padding: 0.5rem 0;
        }
    }
}

.playroom-options {
    display: flex;
    flex-wrap: wrap;
    .playroom-option {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 1rem;
        margin-top: 0.5rem;
        background-color: white;
        min-height: 2rem;
        border-radius: 0.25rem;
        box-shadow: 2px 2px 5px 1px rgba(black, 0.05);
        padding: 0.5em 1em;
        &.player {
            width: 25%;
        }
        &.halfsuit {
            width: 17%;
        }

        &.selected-card {
            box-shadow: 0 0 15px 1px rgba($primary, 0.25);
        }
    }
}

.header {
    .declare-btn{
        @include inverted-btn($primary);
    }
    
    .respond-btn,
    .ask-btn{
        @include main-btn($alert);
        margin-left: 15px;
    }

}

.popup {
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 350px;
    width: 550px;
    margin-top: -175px;
    margin-left: -275px;
    background: white;
    z-index: 1000;
    border-radius: 1rem;
    padding: 30px 20px;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    .guess-input_field {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;       /* Remove default arrow */
        background-color: white;
        cursor: pointer;

    }

    .guess-input {
        width: 100%;
        display: flex;  
        justify-content: center;         
        
        .guess-input_q {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            padding: 0 5px;
            width: 30%;

            .guess-input_field {
                width: 70%;
                padding: 0 0 0 20px;
                text-align: center;
            }
        
            .guess-input_label {
                text-align: center;
                padding: 0 10px 5px 0;
            }
        }
    }
    

    .guess-input-stack {
        flex-direction: column;
        .guess-input_q {
            width: 100%;
            padding: 10px 0;
            .guess-input_field {
                padding: 10px 0 10px 20px;
            }
            .guess-input_label {
                padding: 10px 10px 10px 0;
            }
        }
    }

}
.primary-btn {
    @include main-btn($primary);
}

.stats {
    width: 90%;
    margin: 1rem auto 2rem auto;
    .stats_team-name,
    .stats_players {
        display: flex;
        justify-content: space-between;
    }
    .stats_team-name {
        margin-bottom: .75rem;
    }
    .stats_players {
        .stats_player {
            width: 15.5%;
            text-align: center;
            color:white;
            padding: 0.2rem 0;
            border-radius: 5px;
        }
        .team-even {
            background-color: $team-blue;
        }
        .team-odd {
            background-color: $team-red;
        }
        .out {
            background-color: $out;
        }
    }
}
.history {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 2rem;
    // min-height: 10%;
    // max-height: 25%;
    padding: 10px 20px;
    .history_move {
        justify-content: center;
        margin: 0 0 0.5rem 0;

        &:not(:first-child) {
            margin: 0 0 1rem 0;
        }
    
        .history_move-who {
            padding: 0.75rem 0.25rem;
        }
    }
    .left {
        justify-content: flex-start;
        &:first-child {
            padding-top:1em;
        }
    }
}

.more-space {
    width: 20% !important;
}

.active-sidebar {
    cursor: pointer;
}
.inactive-sidebar {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover {
        opacity: 1 !important;
    }
}

.divider {
    margin: 0 10px;
}
.game-over{
    width: 100%;
    text-align: center;
}
