
.respond {
    &-section {
        margin: 2rem 0 ;
    }
    &-input {
        font-size: $main-font-size;
        width: 100%;
        padding: 10px 30px;
        text-decoration: none;
        min-height: 10em;
        margin-bottom: 1rem;
        border: none;
        border-radius: $radius;
        box-shadow: -2px 2px 5px 1px rgba(black, 0.05);
    }
}