.respond {
    padding: 20px 30px; 
    margin-top:20px;
    .respond-input {
        width: 100%;
        border-width: 1px;
        border-color: #BFBFBF;
        border-style: solid;
        min-height: 5em;
        font-size: 16px;
        padding: 10px 30px;
        text-decoration: none;
        margin-top:5px;
    }
}